<!doctype html>
<html ng-app="platformsApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="js/platformsController.js"></script>
    <title>Platforms</title>
  </head>
  <body>
    <div ng-controller="platformController">
      <label>Name:</label>
      <input type="text" ng-model="name" placeholder="Enter name">
      Hello {{name}}!
      <hr>

      <input type="button" value="{{loading ? 'Loading...' : 'Load Platforms'}}" 
        ng-click="loadPlatforms()">
      
      <label># platforms: {{platforms.length}}</label>
      <br>

      <div ng-repeat="platform in platforms">
        <label>{{platform._title}}</label>
      </div>

      <input type="button" value="{{loading ? 'Bundling...' : 'Build Bundles'}}" 
        ng-click="buildBundles()">

      <label># bundles: {{bundles.length}}</label>
      <input type='button' value="Check All" ng-click="checkAll(true)">
      <input type='button' value="Uncheck All" ng-click="checkAll(false)">
      <input type="button" value="{{loading ? 'Saving...' : 'Save Bundles'}}" 
        ng-click="saveBundles();">
      <br>

      <div ng-repeat="bundle in bundles">
        <input type='checkbox' ng-model='bundle.checked'>
        <label>{{bundle.name}}</label> - 
        <span ng-repeat="platform in bundle.platforms">{{platform._title}} </span>
      </div>  

    </div>
  </body>
</html>